// src/styles/components/layout.module.scss
@use "../variables" as *;

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding: 1rem;
  padding-bottom: calc(60px + 1rem); // Ge plats för bottom navigation
}
